*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #F7FAFC;
}

body, button, textarea, input {
  font: 400 16px 'Roboto', sans-serif;
  outline: none;
}

button {
  cursor: pointer;
  font-weight: bold;
}
